services:
    db:
        image: postgres:17-alpine
        restart: always
        environment:
            - "POSTGRES_PASSWORD=root"
        volumes:
            - "DB_DATA:/var/lib/postgresql/data"
        ports:
            - "127.0.0.1:5432:5432"

    redis:
        image: redis:8-alpine
        restart: always
        ports:
            - "127.0.0.1:6379:6379"

    searxng:
        image: searxng/searxng:latest
        restart: always
        volumes:
            - "./searxng/settings.yml:/etc/searxng/settings.yml:ro"
            - "./searxng/limiter.toml:/etc/searxng/limiter.toml:ro"
        ports:
            - "127.0.0.1:8888:8888"

    migrate:
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        entrypoint: "python manage.py migrate"

    collect_static:
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        volumes:
            - "STATIC:/src/staticfiles"
            - "MEDIA:/src/media"
        entrypoint: "python manage.py collectstatic --noinput"

    api:
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        restart: always
        depends_on:
            - "db"
            - "redis"
        ports:
            - "127.0.0.1:8000:8000"
        volumes:
            - "STATIC:/src/staticfiles"
            - "MEDIA:/src/media"
        entrypoint: "python -m daphne -b 0.0.0.0 -p 8000 auto_tester.asgi:application"

    upload-celery:
        hostname: upload
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        restart: always
        depends_on:
            - "db"
            - "redis"
        volumes:
            - "STATIC:/src/staticfiles"
            - "MEDIA:/src/media"
        entrypoint: "python -m celery -A auto_tester worker -l INFO -Q upload,celery --concurrency=5"

    execution-celery:
        hostname: execute
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        restart: always
        depends_on:
            - "db"
            - "redis"
            - "searxng"
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - "STATIC:/src/staticfiles"
            - "MEDIA:/src/media"
        entrypoint: "python -m celery -A auto_tester worker -l INFO -Q execution --concurrency=2"

    beat-celery:
        hostname: execute
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        restart: always
        depends_on:
            - "db"
            - "redis"
        extra_hosts:
            - "host.docker.internal:host-gateway"
        entrypoint: "python -m celery -A auto_tester beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler"

    flower:
        image: local/auto_tester:latest
        build: .
        env_file:
            - "./.env"
        restart: always
        depends_on:
            - "upload-celery"
            - "execution-celery"
            - "beat-celery"
        ports:
            - "127.0.0.1:5555:5555"
        entrypoint: "python -m celery -A auto_tester flower --basic-auth=sencha:1qaz2wsx --url-prefix=flower"

    nginx:
        image: nginx:1.29-alpine
        restart: always
        depends_on:
            - "api"
            - "flower"
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - "STATIC:/src/staticfiles"
            - "MEDIA:/src/media"
            - "./nginx/server.conf:/etc/nginx/conf.d/server.conf:ro"
            - "LETSENCRYPT:/etc/letsencrypt"

    certbot-nginx:
        image: nginx:1.29-alpine
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - "./nginx/certbot-server.conf:/etc/nginx/conf.d/server.conf:ro"
            - "CERTBOT:/var/www/certbot"

    certbot:
        image: certbot/certbot:latest
        depends_on:
            - "certbot-nginx"
        volumes:
            - "CERTBOT:/var/www/certbot"
            - "LETSENCRYPT:/etc/letsencrypt"
        command:
            - "certonly"
            - "--webroot"
            - "--webroot-path"
            - /var/www/certbot
            - "-d"
            - sench.remotereps.com
            - "--non-interactive"
            - "--agree-tos"
            - "-m"
            - armin@remotereps.com
            - "--expand"

volumes:
    DB_DATA:
    STATIC:
    MEDIA:
    CERTBOT:
    LETSENCRYPT:
